@media(max-width: 620px) {
    .cabecalho {
        padding: 20px 0;
    }

    .cabecalho img {
        width: 300px;
    }
    .cartas-slide {
        padding: 0 15px;
        gap: 10px;
    }

    .btn-seta {
        width: 20px;
        height: 20px;
        padding: 20px;
    }

    .lista-cartas {
        height: 480px;
    }
    .cartao .descricao .texto {
        max-height: 80px;
    }
}